<h3>Add A Recipe</h3>

<% form_for @recipe, url_for(:recipes, :create) do |f| %>

  <% field_set_tag do %>
    <%= f.label :title %>
    <%= f.text_field :title %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :description %>
    <%= f.text_field :description %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :instructions %>
    <%= f.text_field :instructions %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :preparation_time %>
    <%= f.text_field :preparation_time %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :cooking_time %>
    <%= f.text_field :cooking_time %>
  <% end %>

  <% field_set_tag do %>
    <%= f.label :serves %>
    <%= f.text_field :serves %>
  <% end %>


  <!-- Fields for each ingredient -->
  <% f.fields_for :ingredient_recipes do |ingredient_fields| %>
    <% ingredient_fields.fields_for :ingredient do |nested_ingredient_fields| %>
      <h3> Ingredient </h3>
      <% field_set_tag do %>
        <%= ingredient_fields.label :qty %>
        <%= ingredient_fields.text_field :qty %>
      <% end %>
      
      <div id = "more"></div>
    <% end %>
  <% end %>

  <%= f.submit "Create Recipe" %>
  <button type = "button" onclick = "newIngredient()" >Add More</button>
<% end %>

<script type = "text/javascript">
  var num = 0;
  function newIngredient(){

    var more = document.getElementById("more");
    num+=1;


    var title = document.createElement("h3");
    title.innerHTML = "Ingredient";

    var label = document.createElement("label");
    label.setAttribute("for","recipe_ingredient_recipes_attributes_"+ num +"_qty");
    label.setAttribute("id","recipe_ingredient_recipes_attributes_"+num+"_qty");
    label.innerHTML ="Qty: ";


    var input = document.createElement("input");
    input.setAttribute("name","recipe[ingredient_recipes_attributes]"+"["+num+"]"+"[qty]");
    input.setAttribute("id","recipe_ingredient_recipes_attributes_"+num+"_qty");
    input.setAttribute("type","text");

    var fieldset = document.createElement("fieldset");

  
    fieldset.appendChild(label);
    fieldset.appendChild(input);
    more.appendChild(title);
    more.appendChild(fieldset);
  }
</script>

